{% load static %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>AsignX</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'vendor.css' %}">
    <link rel="stylesheet" href="{% static 'main4.css' %}">
    
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>

    <!-- favicons -->
    <link rel="shortcut icon" href="{% static 'images/logo3.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logo3.png' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/#">
                <img src="{% static 'images/logo2.png' %}" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3 style="font-family: 'Montserrat', sans-serif;">Navigation</h3>
                
                <ul class="header-nav__list" style="font-family: 'Montserrat', sans-serif;">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                    <li><a class="smoothscroll"  href="#clients" title="clients">Clients</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                </ul>
    
                <p style="font-family: 'Montserrat', sans-serif;">
                    Connect with us to explore how we can elevate your brand and shape a future of success together. Let's embark on this journey hand in hand. AsignX - Where Innovation Meets Impact.
                </p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text" style="font-family: 'Montserrat', sans-serif; font-weight: bold;"></span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/hero-bg3.jpeg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome to AsignX</h3>

                <h1 style="font-family: 'Montserrat', sans-serif; font-weight: bold;">
                    We are a creative group <br>
                    of people who design <br>
                    influential brands and <br>
                    digital experiences.
                </h1>

                <div class="home-content__buttons">
                    <a href="#contact" class="smoothscroll btn btn--stroke">
                        Start a Project
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Us
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark" style="font-family: 'Montserrat', sans-serif;">Hello There</h3>
                <h1 class="display-1 display-1--light" style="font-family: 'Montserrat', sans-serif;">We Are AsignX</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                    At AsignX, we are more than just a service provider – we are your dedicated partners in achieving business success. Our journey is intertwined with a passion for innovation, a commitment to excellence, and a relentless pursuit of your goals.
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

            {% if counts %}
            {% for count in counts %}
            
            <div class="col-block stats__col">
                <div class="stats__count" style="font-family: 'Montserrat Alternates', sans-serif;">{{count.coc}}</div>
                <h5 style="font-family: 'Montserrat', sans-serif;">Cups of Coffee</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count" style="font-family: 'Montserrat Alternates', sans-serif;">{{count.pc}}</div>
                <h5 style="font-family: 'Montserrat', sans-serif;">Projects Completed</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count" style="font-family: 'Montserrat Alternates', sans-serif;">{{count.hc}}</div>
                <h5 style="font-family: 'Montserrat', sans-serif;">Happy Clients</h5> 
            </div>
            <div class="col-block stats__col ">
                <div class="stats__count" style="font-family: 'Montserrat Alternates', sans-serif;">{{count.collab}}</div>
                <h5 style="font-family: 'Montserrat', sans-serif;">Collaborations</h5>
            </div>

            {% endfor %}
            {% endif %}

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead" style="font-family: 'Montserrat', sans-serif;">What We Do</h3>
                <h1 class="display-2" style="font-family: 'Montserrat', sans-serif;">We’ve got everything you need to launch and grow your business</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Web Development and SEO</h3>
                    <p>
                        Transform your online presence with our seamless web development services. Our websites not only look visually stunning but are also optimized for search engines, ensuring your business stands out in the digital crowd.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-mobile"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Social Media Marketing</h3>
                    <p>
                        Harness the power of social media! Our tailored strategies will not only boost your brand visibility but also engage and convert your target audience across various social platforms.
                    </p>
                </div>
            </div>
    
            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon"><i class="icon-brush"></i></div>
                <div class="service-text">
                    <h3 class="h2">Logo and Flyer Designing</h3>
                    <p>
                        Make a memorable first impression with our creative designs. From eye-catching logos that represent your brand identity to stunning flyers that convey your message, we bring your vision to life.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-paint-brush"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Brand Identity</h3>
                    <p>
                        Craft a unique and cohesive brand identity that sets you apart. We work collaboratively to establish a brand persona that resonates with your audience and leaves a lasting impression.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Business Setup Assistance</h3>
                    <p>
                        Embark on your entrepreneurial journey with confidence. Our experts provide guidance and support to set up your business, ensuring a solid foundation for success.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-megaphone"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2">Marketing</h3>
                    <p>
                        Fuel your growth with our results-driven marketing strategies. From market research to campaign execution, we're here to elevate your brand and captivate your audience.
                    </p>
                </div>
            </div>

            

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">

        <div class="intro-wrap">
                
            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead" style="font-family: 'Montserrat', sans-serif;">Recent Works</h3>
                    <h1 class="display-2 display-2--light" style="font-family: 'Montserrat', sans-serif;">We love what we do, check out some of our latest works</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">

                    {% if clients %}
                    {% for client in clients %}
    
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="{{client.image.url}}" class="thumb-link" title="{{client.client}}" data-size="1050x700">
                                    <img src="{{client.image.url}}" srcset="{{client.image.url}} 1x, {{client.image2.url}} 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    {{client.client}}
                                </h3>
                                <p class="item-folio__cat">
                                    {{client.service}}
                                </p>
                            </div>
    
                            <a href="{{client.link}}" target="_blank" class="item-folio__project-link" title="Project link" >
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>{{client.description}}</p>
                                <p>
                                    <a href="{{client.link}}" target="_blank">
                                        <i class="icon-link"></i> Have a look
                                    </a>
                                </p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->

                    {% endfor %}
                    {% endif %}


                </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->


    <!-- clients
    ================================================== -->
    <section id="clients" class="s-clients" >

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead" style="font-family: 'Montserrat', sans-serif;">Our Clients</h3>
                <h1 class="display-2" style="font-family: 'Montserrat', sans-serif;">AsignX has been honored to
                partner up with these clients</h1>
            </div>
        </div> <!-- end section-header -->

                

        <div class="row clients-testimonials" data-aos="fade-up">
            <div class="col-full">
                <div class="testimonials">

                    {% if cfs %}
                    {% for cf in cfs %}

                    <div class="testimonials__slide" style="font-family: 'Montserrat', sans-serif;">

                        <p style="font-family: 'Montserrat', sans-serif; text-align: justify;">
                            {{cf.feedback}}
                        </p>

                        <img src="{{cf.image.url}}" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name" style="font-family: 'Montserrat', sans-serif;">{{cf.name}}</span> 
                            <span class="testimonials__pos" style="font-family: 'Montserrat', sans-serif;">{{cf.position}}</span>
                        </div>

                    </div>

                    {% endfor %}
                    {% else %}
                    No Feedbacks.
                    {% endif %}


                </div><!-- end testimonials -->
                
            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead" style="font-family: 'Montserrat', sans-serif;">Contact Us</h3>
                <h1 class="display-2 display-2--light" style="font-family: 'Montserrat', sans-serif;">Reach out for a new project or just say hello</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h6">Send Us A Message</h3>

                <form name="contactForm" id="contactForm2" method="post" action="" novalidate="novalidate">
                    {% csrf_token %}
                    <fieldset>
    
                    <div class="form-field">
                        <input name="name" type="text" id="name" placeholder="Your Name" value="" minlength="2" required aria-required="true" class="full-width" maxlength="150">
                    </div>
                    <div class="form-field">
                        <input name="email" type="email" id="email" placeholder="Your Email" value="" required aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="subject" type="text" id="subject" placeholder="Subject" value="" class="full-width" maxlength="350">
                    </div>
                    <div class="form-field">
                        <textarea name="message" id="message" placeholder="Your Message" rows="10" cols="50" required aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <input type="submit" class="full-width btn--primary"></button>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                    <div class="cinfo">
                        <h5 style="font-family: 'Montserrat', sans-serif;">Where to Find Us</h5>
                        <p style="font-family: 'Montserrat', sans-serif;">
                            Kandy,<br>
                            Sri Lanka<br>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5 style="font-family: 'Montserrat', sans-serif;">Email Us At</h5>
                        <p style="font-family: 'Montserrat', sans-serif;">
                            contact@asignx.com<br>
                            info@asignx.com
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5 style="font-family: 'Montserrat', sans-serif;">Call Us At</h5>
                        <p style="font-family: 'Montserrat', sans-serif;">
                            Phone: (+94) 77 682 5043<br>
                            Mobile: (+94) 76 302 5043<br>
                        </p>
                    </div>

                    <ul class="contact-social">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        
                    </ul> <!-- end contact-social -->

                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc" style="font-family: 'Montserrat', sans-serif;">

                <div class="footer-logo">
                    <a class="site-logo" href="/#">
                        <img src="{% static 'images/logo2.png' %}" alt="Homepage">
                    </a>
                </div>
                Connect with us to explore how we can elevate your brand and shape a future of success together. Let's embark on this journey hand in hand. AsignX - Where Innovation Meets Impact.
            </div>

            <div class="col-six tab-full right footer-subscribe" style="font-family: 'Montserrat', sans-serif;">

                <h4>Get Notified</h4>
                <p>Stay in the loop and be the first to access exclusive updates, promotions, and valuable insights! Subscribe to our newsletter and unlock a world of tailored content delivered directly to your inbox. </p>

                <div class="subscribe-form">
                    <form id="mc-form2" class="group" novalidate="true" action="/subscribe" method="post">
                        {% csrf_token %}
                        <input type="email" value="" name="email" class="email" id="mc-email2" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                    </form>
                </div>

            </div>

        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright" style="font-family: 'Montserrat', sans-serif;">
                    <span>© Copyright AsignX 2023</span> 
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>